<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>My Reviews</title>
</head>
<body>
  <% if (!user) { %>
    <a href="/auth/google">Login with Google</a>
  <% } else { %>
    <%- include('../partials/nav.ejs') %>
    <a href="/users/<%=user._id%>/visitedRestaurants">My Visited Restaurants</a>
    <a href="/logout">Log Out</a>
  </nav><br>
   <h1>Reviews from <%= restaurant.restaurantName %></h1><br> -->
  <!-- <table>
      <thead>
          <th>Review</th>
          <th>Dish</th>
          
          <th>Rating</th>
          <th>Price</th>
      </thead>
      <tbody>
        <% restaurant.reviews.forEach(function(r,idx){ %>
            <tr>
            <td><%=r.reviewName%></td>
            <td><%=r.dish%></td>
           
            <td><%=r.rating%></td>
            <td><%=r.price%></td>
            </tr>
        <% }) %> 
      </tbody>
  </table>
  <br>
  <form action="/visitedRestaurants/<%=restaurantId%>/reviews/new" method="GET">
    <button type="submit">Add New Review</button>
  </form><br>
   -->
  <!-- end else statement for being logged in-->
  <!-- <% } %>
</body>
</html> --> -->