
      <!-- <!DOCTYPE html>
<html>

<head>
  <title>LA VEGAN TIMES</title>
  <!-- Google Icon Fonts used by Materialize -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head> --> -->

<!-- <body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">LA VEGAN TIMES</a>
        <ul class="right">
          <li>
            <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div> --> 

  <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>All Restaurants</title>
      </head>
      <body>
        <% if (!user) { %>
          <a href="/auth/google">Login with Google</a>
        <% } else { %>
          <%- include('../partials/nav') %>
          <a href="/users/<%=user._id%>/favoriteRestaurants">My Favorite Restaurants</a>
          <a href="/logout">Log Out</a>
        </nav><br>
        <% } %>

    <h1>Update restaurant</h1>
    <form action="/users/<%=user._id%>/favoriteRestaurants/<%= restaurant._id %>?_method=PUT" method="POST">
        <label>Restaurant Name:
            <input type="text" name="restaurantName" value="<%=restaurant.restaurantName %> ">
        </label><br>
        <label>Address:
            <input type="text" name="address" value="<%=restaurant.address %> ">
        </label><br>
        <label>City:
            <input type="text" name="city" value="<%=restaurant.city %> ">
        </label><br>
        <br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/restaurants/<%= restaurant._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
        
        <button type="submit">Update Restaurant</button>
    </form>
    <!-- end else statment -->
    <% } %> 
</body>
</html>