

  <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>LA VEGAN TIMES</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper lightblue">
            <a href="/restaurants" class="brand-logo left">LA VEGAN TIMES</a>

            <ul class="right">
              <li><a href="/users/<%=user._id%>/favoriteRestaurants">My Favorite Restaurants</a></li>
              <li><a href="/restaurants">List of Restaurants</a></li>
              <li>
                <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
              </li>
            </ul>
          </div>
        </nav>
      </div>  -->

      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>All Restaurants</title>
      </head>
      <body>
        <% if (!user) { %>
          <a href="/auth/google">Login with Google</a>
        <% } else { %>
          <%- include('../partials/nav') %>
          <a href="/users/<%=user._id%>/favoriteRestaurants">My Favorite Restaurants</a>
          <a href="/logout">Log Out</a>
        </nav><br>
        <% } %>

  <h1>List of Restaurants</h1><br>
  <form action="/restaurants/new" method="GET">
    <button type="submit">Add New Restaurant</button>
  </form><br>
  <table>
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Reviews</th>
    </thead>
    <tbody>
    
      <% restaurants.forEach(function(r){ %>
        <tr>
          <td><%= r.restaurantName %> </td>
          <td><%= r.address %> </td>
          <td><%= r.city %> </td>
          <td><%= r.reviews %> </td>
          
          <% if (user) { %>
          <td><form action="/users/<%=user._id%>/favoriteRestaurants" method="POST">
            <input type="text" hidden name="restaurantName" value="<%= r.restaurantName %>">
            <input type="text" hidden name="address" value="<%= r.address %>">
            <input type="text" hidden name="city" value="<%= r.city %>">
            <input type="text" hidden name="reviews" value="<%= r.reviews %>">
            <!-- <button type="submit">Reviews</button> -->
            <button type="submit">Add Restaurant to Favorite</button>
          </form></td>
        </tr>
        <% }%>
      <% }) %> 
    </tbody>
  </table>
  <!-- end else statement for being logged in-->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
</body>
</html>