      
  
   <%- include('../partials/nav') %>
           
   <br>
   <h2>Reviews</h2>
    
         <div>
             <form id="add-review-form" method="POST"
               action="/restaurants/<%= restaurant._id %>/reviews">
               <label>Leave A Review:</label>
               <textarea name="content"></textarea>
               
               <button class="waves-effect waves-light btn-small">Add Review</button>
             </form>
         </div>
 
     
     <% if (restaurant.reviews.length) { %>
         <table>
             <thead>
                 <tr>
                     
                     <th>Review</th>
                     
                 </tr>
             </thead>
             <tbody>
                 <% restaurant.reviews.forEach(function(r) { %>
                     <tr> 
                         <td><%= r.content %></td>
                         <td>
                             
                         </td>
                         <td>
                             <form action="/restaurants/<%= restaurant._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                
                                 <button class="waves-effect waves-light btn-small">DELETE</button>
                             </form>
                         </td>
                         
                     </tr>
                 <% }); %>
                 <% var total = 0 %>
                 <% restaurant.reviews.forEach(function(r) { %>
                    
                 <% }); %>
                 
             </tbody>
         </table>
         <% } %>
       </body>
       </html>
   